.container {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  border-style: solid;
  border-radius: 1px;
  border-color: lightblue;
  text-align: center;
  font-family: 'Arvo', serif;
}

p {
  font-family: 'Arvo', serif;
}

.list-group-item {
  background-color: grey;
  color: yellow;
}

@media (max-width: 200px)
